@import 'main.css';

:root {
  --header-background-color: rgb(3 60 107);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:where(#root) > :is(header, footer) {
  background-color: var(--header-background-color);
  color: var(--background-color);
  font-family: var(--header-font);
  margin-block-end: 0;

  @media print {
    display: none;
  }

  & :is(:--button, :--link) {
    color: inherit;

    &:is(:active, :focus, :hover) {
      color: rgb(from currentColor r g b / 70%);
    }
  }
}

.matter {
  margin-inline: auto;
  max-width: 1200px;
}

main {
  margin-block-end: 0;

  h1 {
    text-align: center;
  }

  p {
    hyphens: auto;
    text-align: justify;
  }

  :is(h1 + p, .lead) {
    font-size: 1.25em;
    font-weight: 300;
  }
}

.narrow {
  @media (min-width: 768px) {
    display: none !important;
  }
}

.wide {
  @media (max-width: 767px) {
    display: none !important;
  }
}

.flex {
  display: flex;

  > * {
    margin: 0;
  }
}

.iconic {
  align-items: center;
  display: flex;
  gap: 0.25em;

  > svg {
    flex: none;
    height: 1.25em;
    width: 1.25em;
  }
}
